<div>
	<form method="get" action="/generar" >      


			<h2 for="resp">Precio:<%= precio %></h2>

			 <br />
			 		<!-- con eso recorro el json y en el_buen_producto meto el json con mis propiedades -->
				<%  Object.keys(productos_totales).map(function (el_buen_producto){ %>

			 		<p> Producto: <%= productos_totales[el_buen_producto].nombre %></p>
			 		<p> cantidad: <%= productos_totales[el_buen_producto].cantidad %></p>
			 		<p> precio unidad: <%= productos_totales[el_buen_producto].precio %></p>
			 		<p> precio total: <%= productos_totales[el_buen_producto].precioTotal %></p>
					<br/>
			 	<% 	 } ) %>
        <input type="text" id="precio" name="precio" value= "<%= precio %>" size="30" autocomplete="off" />
        	<br />
        	<p> La url del código QR es: <%= url %> </p>
			<a href="/productos"><button type="button">Cancelar</button></a>
			<br />
			<input type="submit" value="Generar">

</div>





<div>

        <form method="get" action="/generar" >      


			<label for="resp">Precio: <small>El precio recomendado es: <%= precio %></small></label>

			 <br />

        <input type="text" id="precio" name="precio" value= "<%= precio %>" size="30" autocomplete="off" />
        	<br />
			<a href="/productos"><button type="button">Cancelar</button></a>
			<br />
			<input type="submit" value="Generar">

  		</form>
    </div>